<configuration>

    <!-- Optional: to enable JMX setting of log levels
         cf http://logback.qos.ch/manual/jmxConfig.html -->
    <jmxConfigurator/>

    <appender name="ATOMIKOS" class="ch.qos.logback.core.FileAppender">
        <file>transaction-logs/transaction.out</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- NOTE: logback does not support FATAL, only ERROR, WARN, INFO, DEBUG and TRACE -->
    <logger name="com.atomikos" level="INFO">
        <appender-ref ref="ATOMIKOS" />
    </logger>

</configuration>